<!-- Page Hero -->
<section class="page-title parallax overlay bg-img-1">
    <div class="page-title-content">
        <div class="container">
            <div class="col-sm-12 text-center white">
                <h1>Contactez-nous</h1>
                <hr class="separator">
                <h5 class="subheading">Les petites baies noires</h5>
            </div>
        </div>
    </div>
</section>
<!-- End Page Hero -->

<!-- Start Contact Form Section -->
<section class="pt100 pb90">
    <div class="container">
        <div class="row">

            <div class="contact col-md-9">
                <div id="message"></div>
                <!-- Contact Form will be functional only on your server. Upload to your server when testing. -->
                <form class="gform" method="post" action="https://script.google.com/macros/s/AKfycbztA4r3Sb8l_SlrkUj8hRqQxzIseFh53TqzEnBE7wJLAh3lkf4A/exec"  name="contactform" id="contactform">
                    <fieldset><input name="name" id="name" type="text" placeholder="Nom*" required/></fieldset>
                    <fieldset><input name="email" id="email" type="text" placeholder="Email*" required/></fieldset>
                    <input name="subject" id="subject" type="text"  placeholder="Sujet*" value="Les petites baies noires - Prise de contact" readonly/>
                    <textarea name="content" id="content" cols="40" rows="3" placeholder="Message*"></textarea>


                    <input type="submit" class="submit btn btn-md btn-primary" id="submit" value="Envoyer" />
                </form>
            </div>

            <div class="col-md-3 contact-side">
                <div class="side-info">
                    <h5>Des questions ?</h5>
                    <p>
		        <p>
			Posez-les ci-contre !
			<br />
			Ou contactez-nous ici :
			</p>
			<br />
			<a href="https://www.google.com/maps?q=17%20chemin%20du%20pont%20de%20jean%20petit%201200%20conilhac-corbieres">
				17 Ch du pont de Jean Petit<
				<br />11200 CONILHAC-CORBIERES
			</a>
                        <br />
		        <a href="tel:+33652568870">06 52 56 88 70</a>
                        <br />
                        <a href="contact.html">contact@lespetitesbaiesnoires.com</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Contact Form Section -->

<!-- Map -->
<section class="vossen-map">

<iframe width="100%" height="400px" frameBorder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/lespetitesbaiesnoires_269211?scaleControl=true&miniMap=true&scrollWheelZoom=false&zoomControl=null&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=false&datalayersControl=true&onLoadPanel=undefined&captionBar=false&datalayers=698537&locateControl=false&editinosmControl=false#13/43.0856/2.7010"></iframe>
</section>
<!-- End Map -->


