<!-- Page Hero -->
<section class="page-title parallax overlay bg-img-1">
    <div class="page-title-content">
        <div class="container">
            <div class="col-sm-12 text-center white">
                <h1>Contactez-nous</h1>
                <hr class="separator">
                <h5 class="subheading">Les petites baies noires</h5>
            </div>
        </div>
    </div>
</section>
<!-- End Page Hero -->

<!-- Start Contact Form Section -->
<section class="pt100 pb90">
    <div class="container">
        <div class="row">

            <div class="contact col-md-9">
                <div id="message"></div>
                <!-- Contact Form will be functional only on your server. Upload to your server when testing. -->
                <form class="gform" method="post" action="https://script.google.com/macros/s/AKfycbztA4r3Sb8l_SlrkUj8hRqQxzIseFh53TqzEnBE7wJLAh3lkf4A/exec"  name="contactform" id="contactform">
                    <fieldset><input name="name" id="name" type="text" placeholder="Nom*" required/></fieldset>
                    <fieldset><input name="email" id="email" type="text" placeholder="Email*" required/></fieldset>
                    <input name="subject" id="subject" type="text"  placeholder="Sujet*" value="Les petites baies noires - Prise de contact" readonly/>
                    <textarea name="content" id="content" cols="40" rows="3" placeholder="Message*"></textarea>


                    <input type="submit" class="submit btn btn-md btn-primary" id="submit" value="Envoyer" />
                </form>
            </div>

            <div class="col-md-3 contact-side">
                <div class="side-info">
                    <h5>We’d love to talk to you!</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis porttitor turpis, at convallis eros ultricie.</p>
                </div>
                <div class="side-info">
                    <h5>Reach out today!</h5>
                    <p>
                        124 Central West, Manhattan, NY
                        <br>
                        (001) 965 4688
                        <br>
                        <a href="contact.html">hello@vossendesign.com</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Contact Form Section -->

<!-- Map -->
<section class="vossen-map">
    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1eMyuDcr9okDj4bIxYLPJGd6-QCSggxz5" height="480" border="0" marginwidth="0" marginheight="0"></iframe>
</section>
<!-- End Map -->


