<!-- Footer One -->
<footer id="footer-1">

    <div class="footer-columns">
	<div class="container">
	    <div class="row">

		<div class="col-md-3">
		    <h4 class="subheading">{{ site.data.footer[page.lang].contact }}</h4>
		    <p>
		    <a href="{{ site.baseurl }}/{{ page.lang }}/contact.html">{{ site.email }}</a>
		    </p>
		    <p>
		    <a href="tel:{{ site.phone.short }}">{{ site.phone.long }}</a>
		    </p> 
		</div>

		<div class="col-md-3">
		    <h4 class="subheading">{{ site.data.footer[page.lang].estate }}</h4>
		    <p>{{ site.name }}</p>
		    <p>
		    <a href="http://www.st-laurent-de-la-cabrerisse.com/">Saint Laurent de la Cabrerisse</a>
		    </p>
		</div>

		<div class="col-md-3">
		    <h4 class="subheading">{{ site.data.footer[page.lang].head_office }}</h4>
		    <p>{{ site.name }}<br/>
	              <a target="_blank" href="https://www.google.com/maps?q=17%20chemin%20du%20pont%20de%20jean%20petit%201200%20conilhac-corbieres">{{ site.address }}</a>
		    </p>
		</div>


	    </div>
	</div>  
    </div>

    <div class="footer-copyright">
	<div class="container">
	    <div class="row">

		<div class="col-md-6 col-sm-12">
		    <p>© 2018 <a href="index.html" class="logo">les petites baies noires</a> All Rights Reserved. </p>
		</div>
	    </div>
	</div>
    </div>

</footer>
<!-- End Footer One -->

<!-- Start Back To Top -->
<a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
<!-- End Back To Top --> 

<!-- Scripts -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>


