<!-- Footer One -->
<footer id="footer-1">

    <div class="footer-columns">
	<div class="container">
	    <div class="row">

		<div class="col-md-3">
		    <h4 class="subheading">Contact</h4>
		    <p>
		    <a href="mailto:contact@lespetitesbaiesnoires.com">contact@lespetitesbaiesnoires.com</a>
		    </p>
		    <p>
		    <a href="tel:+33652568870">06 52 56 88 70</a>
		    </p> 
		</div>

		<div class="col-md-3">
		    <h4 class="subheading">Domaine</h4>
		    <p>ESPEUT Jean-Marie</p>
		    <p>
		    <a href="http://www.st-laurent-de-la-cabrerisse.com/">Saint Laurent de la Cabrerisse</a>
		    </p>
		</div>

		<div class="col-md-3">
		    <h4 class="subheading">Siege</h4>
		    <p>ESPEUT Jean-Marie</p>
		    <p>17 Ch du pont de Jean Petit</p>
		    <p>11200 CONILHAC-CORBIERES</p>
		</div>


	    </div>
	</div>  
    </div>

    <div class="footer-copyright">
	<div class="container">
	    <div class="row">

		<div class="col-md-6 col-sm-12">
		    <p>© 2018 <a href="index.html" class="logo">les petites baies noires</a> All Rights Reserved. </p>
		</div>
	    </div>
	</div>
    </div>

</footer>
<!-- End Footer One -->

<!-- Start Back To Top -->
<a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
<!-- End Back To Top --> 

<!-- Scripts -->
<script src="{{ site.baseurl }}js/jquery.min.js"></script>
<script src="{{ site.baseurl }}js/plugins.js"></script>
<script src="{{ site.baseurl }}js/scripts.js"></script>


